<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
        <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
        <add name="Async" connectionString="Data Source=(local);Initial Catalog=Async;User ID=sa;Password=Password01!" providerName="System.Data.SqlClient"/>
        <!--<add name="Async" connectionString="Data Source=D:\SourceCode\eTerm.AsyncSDK3.0\Reference\Async.db3;Version=3;Pooling=False;Max Pool Size=100;" providerName="System.Data.SQLite"/>-->
        
    </connectionStrings>

</configuration>