<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="eTerm.SynClientSDK" type="eTerm.ASynClientSDK.Config.DotNetConfig.GroupHandler, eTerm.ASynClientSDK">
            <section name="SdkConfig" type="eTerm.ASynClientSDK.AsyncSDKConfig, eTerm.ASynClientSDK"></section>
        </sectionGroup>
    </configSections>
    <eTerm.SynClientSDK>
        <SdkConfig IsSsl="false" Address="116.232.100.214" Port="360" UserName="guzm" ASynCmdThread="0.5" UserPass="guzm">
        </SdkConfig>
    </eTerm.SynClientSDK>
    <appSettings>

    </appSettings>
</configuration>