<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="eTerm.SynClientSDK" type="eTerm.ASynClientSDK.Config.DotNetConfig.GroupHandler, eTerm.ASynClientSDK">
            <section name="SdkConfig" type="eTerm.ASynClientSDK.AsyncSDKConfig, eTerm.ASynClientSDK"></section>
        </sectionGroup>
    </configSections>
    <eTerm.SynClientSDK>
        <SdkConfig IsSsl="false" Address="127.0.0.1" Port="360" UserName="o7340401" ASynCmdThread="0.5" UserPass="wxcts">
        </SdkConfig>
    </eTerm.SynClientSDK>
    <appSettings>

    </appSettings>
</configuration>